.modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-title {
    color: #3c8761;
    font-size: 2em;
}