/* #content {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    /* width: 400px; Need a specific value to work */
  /* }

.btn{
  width: 100px;
  height:50px;
} */

/* .test{
  width:1200px;
  height:50px;
  
} */
